.header {
    margin-top: 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color:white;
    height:47px;
}

.header-top {
    display: flex;
    width: 100%;
    height: 30px;
}

.header-top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.logo-title {
    position: absolute;
    top:18px;
    left:110px;
    text-decoration: none;
    color: black;
    font-style: sans serif;
    font-size:140%;
}
.header-logo {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoThin;
    font-size: 50px;
}

.header-top__navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-top__seperator {
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 2px;
    background-color: black;
}

.logo {
    position:absolute;
    width:43px;
    height:43px;
    left:50px;
    top:10px;
}

.box {
    box-shadow:2px 3px rgba(0,0,0,0.25);
    background-color: rgb(256,256,256);
    z-index: -1;
    position: absolute;
    border: 1px solid black;
    top:0px;
    left:-4px;
    width:110%;
    height:62px;
}